
.container {
  position: absolute;
  color: #fff;
  top: 0;
  left: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main {
  display: flex;
  width: 1200px;
  margin-bottom: 100px;
  justify-content: center;
  flex-wrap: wrap;
}