body {
  margin: 0;
  width: 100%;
  background-color: #000;
  height: 100vh;
  position: relative;
}
*{
  box-sizing: border-box;
  list-style: none;
}
ul {
  padding: 0;
}
a {
  text-decoration: none;
}
#root {
  margin: 0;
  padding: 0;
}